DEV_MONGO_URI=mongodb://127.0.0.1:27017/saas-dashboard
MONGO_URI=mongodb+srv://yahyaknife_db_user:bIAt9KaxaJbS24xj@cluster0.sacozgo.mongodb.net/?appName=Cluster0
CORS_ORIGIN=https://yahyaknife.vercel.app/
PORT=5000
